// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Comments Form

.comment-section {
  padding: 0 25px;
  font-size: 15px;
  line-height: 18px;
}

.likes {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.likes p {
  font-weight: 500;
}

.comment {
  display: flex;
  line-height: 130%;
}

.comment p {
  text-align: left;
}

.comment .username {
  font-weight: 600;
  padding-right: 10px;
}

.form {
  height: 65px;
  border-top: 1px solid #D3D3D3;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.like-button {
height: 30px;
width: 30px;
position: relative;
top: -3px;
padding-right: 10px;

}


.comment-form {
  font-size: 15px;
  line-height: 18px;
  position: relative;
  top: -2px;
  width: 450px;
  font-weight: 100;
}

.comment-index-item {
  width: 100%;
  display: flex;
  line-height: 130%;
}
.comment-index-item h2 {
  font-weight: 600;
}
.comment-index-item .username {
  padding-right: 10px;
}

.compress-comments {
  color: #999;
  line-height: 18px;
  font-size: 15px;
}
