// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#root {
  // display: flex;
  height: 100%;
}


.login-form-container {
  width: 325px;
  justify-content: center;
  padding-top: 115px;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 50%;
  min-width: 650px;
  margin: auto;
}

.main-image {
  width: 305px;
}

.iPhone {
  height: 600px;
  margin-top: 20px;
}

.iphone-picture {
  position: relative;
  bottom: 530px;
  height: 420px;
  width: 260px;
  left: 22px;
}

.login-form-container * {
  background-color: white;
}

.login-form-box {
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  padding: 25px;
}


.login-form-box h2 {
  // text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: 44px;
}

.login-form-box h2, h3, p, li {
  text-align: center;
}

.login-form-box h3 { //temporary placeholder

}

#guest-login  {
  position: relative;
  top: -5px;
  color: #3897f0;
  text-align: center;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

#guest-login:hover {
  cursor: pointer;
}

.login-form-box input {
  position: relative;
  left: -8px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  padding: 5px;
  margin: 3px;
  width: 100%;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 13px;
}

.login-button {
  text-align: center;
  color: white;
  background-color: #3897f0;
  font-weight: 600;
}

.login-button:hover {
  cursor: pointer;
}

.toggle-login-box {
  text-align: center;
  border: 1px solid #D3D3D3;
  padding: 20px;
  border-radius: 4px;
  margin-top: 25px;
}

a.login-toggle-link {
  color: #3897f0;

}

.footer {
  background-color: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid black;
}

.linkedin {
  height: 70px;
  background-color: inherit;
}

.github {
  height: 66px;
  position: relative;
  bottom: 4px;
  background-color: inherit;
}
