// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Profile Index
.user-profile {
  max-width: 920px;
  margin: auto;
}

// Header

.profile-header {
  display: flex;
  width: 900px;
  height: 150px;
  margin-top: 55px;
  margin-bottom: 40px;

}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 90px;
  margin-left: 70px;
}

.profile-info {

}

.profile-info div {
  display: flex;
}

.profile-info .username {
  font-size: 34px;
  font-weight: 300;
}

.profile-header .top-line {
  padding-top: 30px;
}
