// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Profile Index
.user-profile {
  max-width: 920px;
  margin: auto;
}

// Header

.profile-header {
  display: flex;
  width: 900px;
  height: 150px;
  margin-top: 55px;
  margin-bottom: 40px;

}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 90px;
  margin-left: 70px;
}

.profile-info {

}

.profile-info div {
  display: flex;
}

.profile-info .username {
  font-size: 34px;
  font-weight: 300;
}

.profile-header .top-line {
  padding-top: 30px;
}


// MODAL
.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}
.modal-main {
  width: 935px;
  margin: 100px auto 0;
  display: flex;
  min-height: 450px;
  max-height: 600px;
}

.modal-close {
  color: white;
  font-size: 20px;
  width: 20px;
  background: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-close:hover {
    cursor: pointer;
}


.modal-img {
  width: 600px;
  height: inherit;
}

.modal-sidebar {
  width: 335px;
  height: inherit;
  background: white;
}
.sidebar-header {
  margin: 0 25px;
  height: 85px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.modal-profile-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.modal-username {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 300;
}
